@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url("./assets/fonts/poppins/Poppins-Regular.ttf");
}

body {
    font-family: Poppins, Arial, Helvetica, sans-serif;
}

#generate-ticket {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)),
        url("./assets/images/sha-loon-logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#queue-monitor {
    background-image: url("./assets/images/bg-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

#admin-login {
    background-image: url("./assets/images/bg-img-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}